<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ACCESS</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/swiper.min.css">
    <link rel="stylesheet" href="css/hover.css">
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/font-awesome.css">
    <style>
       .swiper-container {
      width: 100%;
      height: 80vh;

    }

    .btnseemore{

      width: 200px;
    }
    /* .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;

      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    } */
    </style>
</head>
<body>
    

    <div class="container-fluid">
        <header class="p-3 bg-white border-bottom">
            <div class="container">
              <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" style="font-family: forte;" class="d-flex fs-5 me-md-4 text-dark fw-bolder align-items-center mb-2 mb-lg-0 text- text-decoration-none">
            <i class="fa fa-buysellads text-primary fs-1 me-1"></i> ACCESS
                </a>
        
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                  <li><a href="#" class="nav-link px-2 link-dark">Home</a></li>
                  <li class="dropdown"><a href="#" class="nav-link px-2 link-secondary dropdown-toggle" id="dropdown07XL" data-bs-toggle="dropdown" aria-expanded="false">Lugares</a>
                  
                    <ul class="dropdown-menu mx-0 shadow" style="width: 220px;">
                      <li>
                        <a class="dropdown-item d-flex gap-2 align-items-center" href="#">
                          <i class="fa fa-map-marker text-primary"></i>
                          Viana
                        </a>
                      </li>
                      <li>
                        <a class="dropdown-item d-flex gap-2 align-items-center" href="#">
                          <i class="fa fa-map-marker text-primary"></i>
                          Cazenga
                        </a>
                      </li>
                      <li>
                        <a class="dropdown-item d-flex gap-2 align-items-center" href="#">
                          <i class="fa fa-map-marker text-primary"></i>
                          Belas
                        </a>
                      </li>
                      <li>
                        <a class="dropdown-item d-flex gap-2 align-items-center" href="#">
                          <i class="fa fa-map-marker text-primary"></i>
                          Lobito
                        </a>
                      </li>
                      <li>
                        <a class="dropdown-item d-flex gap-2 align-items-center" href="#">
                          <i class="fa fa-map-marker text-primary"></i>
                          Kilamba
                        </a>
                      </li>
                    </ul>
                  
                  </li>
                  <li><a href="#" class="nav-link px-2 link-secondary">Contactar</a></li>
                  <li><a href="#" class="nav-link px-2 link-secondary">Sobre</a></li>
                </ul>
        
                <form class="col-12 d-flex align-items-center col-lg-auto mb-3 mb-lg-0 me-lg-3">
                  <!--  -->
                  <input type="search" class="form-control rounded-pill" placeholder="Pesquisar eventos, shows, teatros..." aria-label="Search">
<i class="fa fa-search ms-2 fs-5 text-" style="transform: rotate(95deg);"></i>
                </form>
        
         
              </div>
            </div>
          </header>

          <main class="pt-3 pt-md-3">
            <section>
                <div class=" px-3 d-flex justify-content-between align-items-end pb-3" style="border-radius: 15px; background: url('img/gal_img_full_2.jpg'); background-size: cover; height:60vh">
         
         <h1 class="display-6 text-white-50">NOME DA CATEGORIA</h1>
    <div class="text-white fs-3">
 
     <a href="" class="text-white"><i class="fa fa-facebook-square px-2 py-2 rounded-pill border"></i></a>
     <a href="" class="text-white"><i class="fa fa-whatsapp px-2 py-2 rounded-pill border"></i></a>
     <a href="" class="text-white"><i class="fa fa-instagram  px-2 py-2 rounded-pill border"></i></a>
    
    </div> 
                </div>
                    </section>


<section class="container mt-5 pt-3">
  <div class="">
    <h5 class="mb-3">Eventos "categoria" (mais esperados)</h5>

    <div class="row">
<div class="col-md-3 mb-3">
  <div class="card shadow p-2">
    <img src="img/gal_img_full_1.jpg" alt="">
    <div>
      <p class="text-danger mt-2 mb-0">SAB 26 MAR - 20:00</p>
      <p class="mb-0">NOME DO EVENTO</p>
      <span>uma descrição mais detalhada do evento...</span>
    </div>
  </div>
</div>
<div class="col-md-3 mb-3">
  <div class="card shadow p-2">
       <img src="img/gal_img_full_1.jpg" alt="">
    <div>
      <p class="text-danger mt-2 mb-0">SAB 26 MAR - 20:00</p>
      <p class="mb-0">NOME DO EVENTO</p>
      <span>uma descrição mais detalhada do evento...</span>
    </div>
  </div>
</div>
<div class="col-md-3 mb-3">
  <div class="card shadow p-2">
       <img src="img/gal_img_full_1.jpg" alt="">
    <div>
      <p class="text-danger mt-2 mb-0">SAB 26 MAR - 20:00</p>
      <p class="mb-0">NOME DO EVENTO</p>
      <span>uma descrição mais detalhada do evento...</span>
    </div>
  </div>
</div>
<div class="col-md-3 mb-3">
  <div class="card shadow p-2">
       <img src="img/gal_img_full_1.jpg" alt="">
    <div>
      <p class="text-danger mt-2 mb-0">SAB 26 MAR - 20:00</p>
      <p class="mb-0">NOME DO EVENTO</p>
      <span>uma descrição mais detalhada do evento...</span>
    </div>
  </div>
</div>
    </div>

    <div class="row">
      <div class="col-md-3 mb-3">
        <div class="card shadow p-2">
          <img src="img/gal_img_full_1.jpg" alt="">
          <div>
            <p class="text-danger mt-2 mb-0">SAB 26 MAR - 20:00</p>
            <p class="mb-0">NOME DO EVENTO</p>
            <span>uma descrição mais detalhada do evento...</span>
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-3">
        <div class="card shadow p-2">
             <img src="img/gal_img_full_1.jpg" alt="">
          <div>
            <p class="text-danger mt-2 mb-0">SAB 26 MAR - 20:00</p>
            <p class="mb-0">NOME DO EVENTO</p>
            <span>uma descrição mais detalhada do evento...</span>
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-3">
        <div class="card shadow p-2">
             <img src="img/gal_img_full_1.jpg" alt="">
          <div>
            <p class="text-danger mt-2 mb-0">SAB 26 MAR - 20:00</p>
            <p class="mb-0">NOME DO EVENTO</p>
            <span>uma descrição mais detalhada do evento...</span>
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-3">
        <div class="card shadow p-2">
             <img src="img/gal_img_full_1.jpg" alt="">
          <div>
            <p class="text-danger mt-2 mb-0">SAB 26 MAR - 20:00</p>
            <p class="mb-0">NOME DO EVENTO</p>
            <span>uma descrição mais detalhada do evento...</span>
          </div>
        </div>
      </div>
          </div>
      
    
  </div>
</section>


<section class="container mt-5 pt-5">
<h1 class="tec">HISTÓRICO</h1>


    <div class="">
      <h5 class="mb-3">Eventos "categoria" (passados)</h5>
  
      <div class="row">
  <div class="col-md-3 mb-3">
    <div class="card shadow p-2">
      <img src="img/gal_img_full_1.jpg" alt="">
      <div>
        <p class="text-danger mt-2 mb-0">SAB 26 MAR - 20:00</p>
        <p class="mb-0">NOME DO EVENTO</p>
        <span>uma descrição mais detalhada do evento...</span>
      </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
    <div class="card shadow p-2">
         <img src="img/gal_img_full_1.jpg" alt="">
      <div>
        <p class="text-danger mt-2 mb-0">SAB 26 MAR - 20:00</p>
        <p class="mb-0">NOME DO EVENTO</p>
        <span>uma descrição mais detalhada do evento...</span>
      </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
    <div class="card shadow p-2">
         <img src="img/gal_img_full_1.jpg" alt="">
      <div>
        <p class="text-danger mt-2 mb-0">SAB 26 MAR - 20:00</p>
        <p class="mb-0">NOME DO EVENTO</p>
        <span>uma descrição mais detalhada do evento...</span>
      </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
    <div class="card shadow p-2">
         <img src="img/gal_img_full_1.jpg" alt="">
      <div>
        <p class="text-danger mt-2 mb-0">SAB 26 MAR - 20:00</p>
        <p class="mb-0">NOME DO EVENTO</p>
        <span>uma descrição mais detalhada do evento...</span>
      </div>
    </div>
  </div>
      </div>
  
      <div class="row">
        <div class="col-md-3 mb-3">
          <div class="card shadow p-2">
            <img src="img/gal_img_full_1.jpg" alt="">
            <div>
              <p class="text-danger mt-2 mb-0">SAB 26 MAR - 20:00</p>
              <p class="mb-0">NOME DO EVENTO</p>
              <span>uma descrição mais detalhada do evento...</span>
            </div>
          </div>
        </div>
        <div class="col-md-3 mb-3">
          <div class="card shadow p-2">
               <img src="img/gal_img_full_1.jpg" alt="">
            <div>
              <p class="text-danger mt-2 mb-0">SAB 26 MAR - 20:00</p>
              <p class="mb-0">NOME DO EVENTO</p>
              <span>uma descrição mais detalhada do evento...</span>
            </div>
          </div>
        </div>
        <div class="col-md-3 mb-3">
          <div class="card shadow p-2">
               <img src="img/gal_img_full_1.jpg" alt="">
            <div>
              <p class="text-danger mt-2 mb-0">SAB 26 MAR - 20:00</p>
              <p class="mb-0">NOME DO EVENTO</p>
              <span>uma descrição mais detalhada do evento...</span>
            </div>
          </div>
        </div>
        <div class="col-md-3 mb-3">
          <div class="card shadow p-2">
               <img src="img/gal_img_full_1.jpg" alt="">
            <div>
              <p class="text-danger mt-2 mb-0">SAB 26 MAR - 20:00</p>
              <p class="mb-0">NOME DO EVENTO</p>
              <span>uma descrição mais detalhada do evento...</span>
            </div>
          </div>
        </div>
            </div>
        
      
    </div>
  </section>
  
  

        </main>


        <div class="container">
          <footer class="py-5">
            <div class="row">
              <div class="col-2">
                <h5>Encontre eventos</h5>
                <ul class="nav flex-column">
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Hoje</a></li>
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Amanhã</a></li>
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Esta semana</a></li>
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Este fim de semana</a></li>
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Este mês</a></li>
                </ul>
              </div>
        
              <div class="col-2">
                <h5>Cidades</h5>
                <ul class="nav flex-column">
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Luanda</a></li>
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Benguela</a></li>
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Cunene</a></li>
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Huambo</a></li>
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Cabinda</a></li>
                </ul>
              </div>
        
              <div class="col-2">
                <h5>Categoria</h5>
                <ul class="nav flex-column">
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Festas e shows</a></li>
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Teatros e espetáculos</a></li>
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Conferências</a></li>
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Esporte</a></li>
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Gastronomia</a></li>
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Infantil</a></li>
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Arte cultura e lazer</a></li>
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Moda e Beleza</a></li>
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Educação</a></li>
                </ul>
              </div>
        
              <div class="col-4 offset-1">
                <form>
                  <h5>Subscreva à nossa newsletter</h5>
                  <p>Receba todas as actualizações dos nossos eventos por email</p>
                  <div class="d-flex w-100 gap-2">
                    <label for="newsletter1" class="visually-hidden">Insira aqui o email</label>
                    <input id="newsletter1" type="text" class="form-control rounded-pill" placeholder="riadla@siarom.com">
                    <button class="btn btn-primary rounded-pill" type="button">Enviar</button>
                  </div>
                </form>
              </div>
            </div>
        
            <div class="d-flex justify-content-between py-4 my-4 border-top">
              <p>© ACCESS 2022, Inc. todos os direitos autorais.</p>
              <ul class="list-unstyled d-flex">
                <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>
                <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
                <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
              </ul>
            </div>
          </footer>
        </div>
    </div>

    <script src="js/swiper.min.js"></script>

    <!-- Initialize Swiper -->
    <script>
      var swiper = new Swiper('.swiper-container', {
        spaceBetween: 30,
        centeredSlides: true,
        autoplay: {
          delay: 2500,
          disableOnInteraction: false,
        },
        pagination: {
          el: '.swiper-pagination',
          clickable: true,
        },
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        },
      });
    </script>

    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap.bundle.js"></script>
</body>
</html>