<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Access</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/swiper.min.css">
    <link rel="stylesheet" href="css/hover.css">
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/font-awesome.css">
    <style>
        .swiper-container {
            width: 100%;
            height: 80vh;

        }

        .btnseemore {

            width: 200px;
        }

        /* .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;
      
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
          } */
    </style>
</head>

<body>
    
    <div class="container-fluid">
        <%- include ("./header.ejs") %>
        
          <main class="mt-5">
        

               <section class="pt-4 pt-md-4 pb-4">

                
                <div class="container col-xxl-8 px-4 py-5">
                    <h1 class="display-6 fw-bold lh-1 mb-3">CONTACTE-NOS</h1>
                     
                    <div class="row flex-lg-row-reverse align-items-center g-2  py-3">
                      <div class="col-12 col-sm-8 col-lg-5">
              
                        <div style="border-radius: 15px;" class="list-group mb-5 ps-md-4">
                            <a href="#" class="align-items-center list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                              <i class="fa fa-facebook flex-shrink-0 fs-4"></i>
                              <div class="d-flex gap-2 w-100 justify-content-between">
                                <div>
                                  <h6 class="mb-0">Facebook</h6>
                                  <p class="mb-0 opacity-75">Fique ligado à nossa página.</p>
                                </div>
                              </div>
                            </a>
                            <a href="#" class="align-items-center list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                             <i class="fa fa-instagram flex-shrink-0 fs-4"></i>
                              <div class="d-flex gap-2 w-100 justify-content-between">
                                <div>
                                  <h6 class="mb-0">Instagram</h6>
                                  <p class="mb-0 opacity-75">Fique ligado ao nosso Insta.</p>
                                </div>
                              </div>
                            </a>
                            <a href="#" class="align-items-center list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                             <i class="fa fa-telegram flex-shrink-0 fs-4"></i>
                              <div class="d-flex gap-2 w-100 justify-content-between">
                                <div>
                                  <h6 class="mb-0">Telegram</h6>
                                  <p class="mb-0 opacity-75">Liga-te ao nosso Telegram.</p>
                                </div>
                              </div>
                            </a>
                          </div>      
                    
                    
                    </div>
                      <div class="col-lg-7">

                        <form action="#">
                            <div class="">
                         
            <div class="mb-2">
              <label for="nome" class="fw-bold">Nome</label>
              <input type="text" id="nome" class="form-control rounded-pill" placeholder="Insira o seu nome" aria-label="name">
            </div>
            <div class="mb-2">
              <label for="email" class="fw-bold">Email</label>
              <input type="email" id="email" class="form-control rounded-pill" placeholder="Insira o seu email" aria-label="email">
            </div>
            <div class="mb-2">
              <label for="endereco" class="fw-bold">Endereço</label>
              <input type="text" id="endereco" class="form-control rounded-pill" placeholder="Insira a sua localização" aria-label="endereco">
            </div>
            
            <div class="mb-2">
              <label for="subject" class="fw-bold">Assunto</label>
              <input type="text" placeholder="Sobre o que se trata?" class="form-control rounded-pill" id="subject">
            </div>
            <div class="mb-2">
              <label for="desc" class="fw-bold">Descrição</label>
              <textarea id="desc" class="form-control rounded-3" placeholder="Descreva especificamente o que deseja..." aria-label="descricao"></textarea>
            </div>
            
                            </div>
                            <div class="d-flex justify-content-end">
                              <button type="submit" class="btn btn-primary rounded-pill">Enviar dados</button>
                            </div></form>
                   
                      </div>
                    </div>
                  </div>
               </section>


          </main>
            
          </div>

    <%- include ("./footer.ejs") %>


        <script src="js/swiper.min.js"></script>

        <!-- Initialize Swiper -->
        <script>
            var swiper = new Swiper('.swiper-container', {
                spaceBetween: 30,
                centeredSlides: true,
                autoplay: {
                    delay: 2500,
                    disableOnInteraction: false,
                },
                pagination: {
                    el: '.swiper-pagination',
                    clickable: true,
                },
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev',
                },
            });
        </script>
        <script src="js/bootstrap.min.js"></script>
        <script src="https://use.fontawesome.com/3504e7b20a.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/bootstrap.bundle.js"></script>
</body>

</html>