
<ul class="menu-inner py-1">
    <!-- Dashboard -->
    <li class="menu-item active">
      <a href="/painelAdm" class="menu-link">
        <i class="menu-icon tf-icons bx bx-home-circle"></i>
        <div data-i18n="Analytics">Dashboard</div>
      </a>
    </li>

    <!-- Layouts -->
    <li class="menu-item">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-layout"></i>
        <div data-i18n="Layouts">tabelas</div>
      </a>

      <ul class="menu-sub">
        <li class="menu-item">
          <a href="/promotor" class="menu-link">
            <div data-i18n="Without menu">Promotor</div>
          </a>
        </li>
        <li class="menu-item">
          <a href="/eventos" class="menu-link">
            <div data-i18n="Without navbar">Eventos</div>
          </a>
        </li>
        <li class="menu-item">
          <a href="/convidados" class="menu-link">
            <div data-i18n="Container">Convidados</div>
          </a>
        </li>
      </ul>
    </li>

    <li class="menu-header small text-uppercase">
      <span class="menu-header-text">Pages</span>
    </li>
    <li class="menu-item">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-dock-top"></i>
        <div data-i18n="Account Settings">Configuração do RFID</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item">
          <a href="pages-account-settings-account.html" class="menu-link">
            <div data-i18n="Account">Informações</div>
          </a>
        </li>
      </ul>
    </li>


  </ul>